$pink: #FF728B !default;
$green: #6CAE08 !default;
$cyan: #67C5E0 !default;
$red: #FF492D !default;
$yellow: #FECC02 !default;
$turquoise: #4ac99e !default;

$primary: #5CB5A6;
$link: #4488C5;
$success: #B0BD3C;
$info: $turquoise;
$warning: $yellow;
$danger: #ED8077;
